{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gerald Inco</title>
	<link rel="stylesheet" href="{% static './src/output.css' %}">
</head>
{% block content %}
<body class="w-full h-3/4 m-6 p-6 bg-gradient-to-r from-slate-500 to-emerald-700 flex flex-row">
	<div class=" text-white ">
       <div class="text-3xl font-semibold px-3">
			Gerald <span class="font-bold text-orange-700 ">Inco</span>

			<span class="text-blue-600 m-24"><a href="{% url 'all-departments'%}">Work Departments</a></span>
	   </div>

	   <div>
		<form class="absolute right-0">
			<span class="block "> Welcome , {% include 'base/Navigation.html'%}</span>

			{% if request.user.is_authenticated %}
			<button class="bg-black text-white p-3 rounded-2xl" type="logout" value="logout">
				<a href="{%url 'signout' pk=request.user.pk %}"> Logout </a>
			</button>
			{% endif %}

			<button class="rounded-2xl bg-slate-600 hover:bg-yellow-700 p-4" type="submit" value="signin">
				<a href="{% url 'signin' %}">signin</a>
			</button>
		</form>
		
	   </div>
	   <div class="absolute right-10 bottom-2">
		<button class="rounded-2xl bg-slate-600 hover:bg-yellow-700 p-4" type="submit" value="signin">
			<a href="{% url 'profile' %}">Create Profile</a>
		</button>
	   </div>
	    
	   <div class="m-12 p-12">
		<button class="rounded-2xl bg-slate-600 hover:bg-yellow-700 p-4" type="submit" value="signin">
			{% if request.user.is_authenticated %}
				<a href="{% url 'profile-view' pk=request.user.pk %}">View Profile</a>
			{% else %}
				<a href="{% url 'signin' %}">Sign In</a>
			{% endif %}

		</button>
		<div>
			<p>Not signed yet</p>
			<a href="{% url 'register-page'%}">Register</a>
			
		</div>
	   </div>
	   
	</div>
	

	
</body>
</html>
{% endblock %}
